.button {
  font-family: sans-serif;
  font-size: 30px;
  padding: 15px 32px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.bg1 {
  background-color: #F29559;
  color: #202C39;
  border: none;
}

.bg2 {
  background-color: #F2D492;
  color: #202C39;
  border: none;
}

.bg3 {
  background-color: #B8B08D;
  color: #202C39;
  border: none;
}

.bg4 {
  background-color: #283845;
  color: #202C39;
  border: none;
}

.bg5 {
  background-color: #202C39;
  color: #FFFFFF;
  border: none;
}

.bg5rev {
  background-color: #FFFFFF;
  color : #202C39;
  border : solid #202C39;
}

.tall {
  height: 200px;
}

.short {
  height: 50px;
}
